body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/field.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body input {
  max-width: 100px;
  height: 20px;
  margin: 6px;
}

.row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.cell-wrapper {
  display: flex;
  position: relative;
}

.bomb-count {
  width: 39px;
  height: 39px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 39px;
}

.cell {
  content: url("./images/cell.png");
}

.bomb {
  content: url("./images/bomb.png");
}

.flagged {
  content: url("./images/flag.png");
}

.misflagged {
  content: url("./images/flag-wrong.png");
}

.revealed {
  content: url("./images/cell-revealed.png");
}

#playBtn {
  font-size: 16px;
  margin: 6px;
  width: 140px;
  height: 60px;
}

#game-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#game-state h3 {
  padding: 0 24px;
  margin: 6px;
}

#board {
  margin: 18px;
}