body {
  align-items: center;
  background-image: url("./images/field.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body input {
  max-width: 100px;
  height: 20px;
  margin: 6px;
}

button {
  align-self: center;
  font-size: 16px;
  margin: 6px;
  width: 140px;
  height: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.cell-wrapper {
  display: flex;
  position: relative;
}

.bomb-count {
  width: 39px;
  height: 39px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 39px;
}

.cell {
  content: url("./images/cell.png");
}

.bomb {
  content: url("./images/bomb.png");
}

.flagged {
  content: url("./images/flag.png");
}

.misflagged {
  content: url("./images/flag-wrong.png");
}

.revealed {
  content: url("./images/cell-revealed.png");
}

#content {
  align-items: stretch;
}

#dimensionsInput {
  height: 30px;
  margin: 16px;
}

#game-state {
  align-items: center;
  margin-top: 30px;
}

#game-state * {
  color: white;
}

#game-state h3 {
  padding: 0 24px;
  margin: 6px;
}

#board {
  margin: 18px;
}

#leaderboard {
  align-items: center;
  border: 1px solid;
  border-color: white;
  margin: 0 32px;
  width: 200px;
}

#leaderboard h2 {
  margin-bottom: 32px;
}

#leaderboard * {
  color: white;
  padding: 6px;
}
